{% extends "base.html.twig" %}

{% block title %}{{'Login'|trans}}{% endblock %}

{% block content %}
    <div id="main">
        <div class="success">
            <h1>{{ successMessage|trans }}</h1>
        </div>
    </div>
{% endblock %}
